/* ----- STYLE TILTE ----- */

.page-title{
    float: center;
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
}

.about-content {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
}

.about-content p {
    flex: 1;
    font-size: 18px;
    line-height: 1.6;
    margin-right: 20px;
}

.about-content img {
    max-width: 30%;
    border-radius: 8px;
}     

@media screen and (max-width: 600px) {
    .about-content {
        flex-direction: column; /* Change la direction de la disposition en colonnes */
        align-items: flex-start; /* Aligne les éléments sur la gauche */
    }

    .text-content {
        margin-bottom: 0; /* Supprime la marge en bas */
    }
}