/* ----- STYLE TILTE ----- */

.page-title{
    float: center;
    display: block;
    color: black;
    text-align: left;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
}

/* ----- STYLE TEXT ----- */
.about-content {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    
}

.about-content p {
    flex: 1;
    font-size: 18px;
    line-height: 1.6;
    margin-right: 20px;
}

.about-content img {
    max-width: 30%;
    border-radius: 8px;
}     

.line {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; 
    margin-bottom: 20px;
}