* {
  margin: 0;

  box-sizing: border-box;
}

body {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
}

/* ----- STYLE HEADER ----- */
.header-box {
  overflow: hidden;
  background-color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
}

.header-box a {
  float: right;
  display: block;
  color: #505050;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 15px;
}



.header-box .title {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 1px;
  margin-top: 0px;
}

.header-box a:hover {
  color: #c0c0c0;
}

.header-box .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .header-box a:not(:first-child) {display: none;}
  .header-box a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .header-box.responsive {position: relative;}
  .header-box.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header-box.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* ----- STYLE CONTENT ----- */
.content {
  background-color: #e4e4e4;
  padding: 50px 50px 50px 50px;
}

.photo-item {
  display: flex;
  justify-content: space-around;
  float: right;
  margin: 10px;
  margin-bottom: 50px;
  width: 25%;
}
  
#img-container {
  display: flex; 
  justify-content: center;
}
  
@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  #photo1, #photo2, #photo3{
    width: 100%;
  }
  #img-container {
      flex-direction: column;
  }
}
  
.contains-border {

  
  border-color: #e4e4e4;


  border-style: solid;

  border-width: 1px;

}


.text-photo {
  position: absolute;
  margin-bottom: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgb(100, 100, 100), rgba(0, 0, 0, 0));
  color: white;
  text-align: center;
  padding: 0px 50px 40px 50px;
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.7s ease;
}

.photo-item:hover .text-photo {
  opacity: 0;
}


/* ----- STYLE FOOTER ----- */
.footer {
  background-color: #000000;
  padding: 30px;
}

.footer h1 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  
}

.style-footer {
  font-family: Poppins;
  font-weight: 10;
  text-align: center;
}
