* {
  margin: 0;

  box-sizing: border-box;
}

body {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
}

/* ----- STYLE HEADER ----- */
.header-box {
  overflow: hidden;
  background-color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
}

.header-box a {
  float: right;
  display: block;
  color: #505050;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 15px;
}



.header-box .title {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 1px;
  margin-top: 0px;
}

.header-box a:hover {
  color: #c0c0c0;
}

.header-box .title:hover {
  color: #000000;
}

.header-box .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .header-box a:not(:first-child) {display: none;}
  .header-box a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .header-box.responsive {position: relative;}
  .header-box.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header-box.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* ----- STYLE CONTENT ----- */
.content {
  background-color: #e4e4e4;
  padding: 50px 50px 50px 50px;
}

.photo-item {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  float: right;
  margin: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
}
  
#img-container {
  display: flex; 
  justify-content: center;
  padding-right: auto;
  padding-left: auto;
  margin-left: auto;
  margin-right: auto;
}
  
@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  .photo-item {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  #img-container {
    flex-direction: column;
  }
}

.contains-border {
  border-color: #e4e4e4;
  border-style: solid;
  border-width: 1px;
}

.text-photo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(73, 73, 73, 0.582)1%, transparent);;
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: opacity 0.7s ease;
  font-size: 1.2vw;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.photo-item:hover .text-photo {
  opacity: 0; 
}

@media screen and (max-width: 900px) {
  .text-photo {
    font-size: 20px; 
  }
}



/* ----- STYLE FOOTER ----- */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  padding: 20px;
  margin: 0;
}

#icon_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer h1 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  
}

.style-footer {
  font-family: Poppins;
  font-weight: 10;
  text-align: center;
}

.fa {
  padding: 10px;
  text-align: center;
  font-size: 50px;
  text-decoration: none;
  margin: 0px;
  background-color: #000000;
  color: white;
  
}

.fa:hover {
    opacity: 0.7;
}
