* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
}

/* ----- STYLE HEADER ----- */
.header-box {
  padding: 9px 50px 9px 10px;
  font-size: 0;
  display: flex;
  flex-direction: row;
}

.style-title{
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  margin-left: 270px;
  margin-right: 10px;
}

.style-sous-title {
  color: #505050;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 15px;
  margin-top: 15px;
  letter-spacing: 1px;
}

.style-sous-title:hover {
  color: #c0c0c0;
}

.box-sous-title {
  display: flex;
  flex-direction: row;
  text-align: right;
  margin-left: 730px;
}

/* ----- STYLE CONTENT ----- */
.content {
  background-color: #e4e4e4;
  padding: 100px 50px 80px 50px;
}

.gradient {
  position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: 10px; 
    background: linear-gradient(to bottom, rgb(209, 209, 209), transparent);
}

.photo-container {
  display: flex;
  justify-content: center;
}

.photo-item {
  position: relative;
  margin-right: 50px;
}

.photo-item img {
  width: 400px;
  height: 600px;
}

.text-photo {
  position: absolute;
  margin-bottom: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgb(100, 100, 100), rgba(0, 0, 0, 0));
  color: white;
  text-align: center;
  padding: 0px 50px 40px 50px;
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.7s ease;
}

.photo-item:hover .text-photo {
  opacity: 0;
}

/* ----- STYLE FOOTER ----- */
.footer {
  background-color: #000000;
  padding: 30px;
}

.footer h1 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  
}

.style-footer {
  font-family: Poppins;
  font-weight: 10;
  text-align: center;
}
